/* 0MainComp */
#app .mainComp{
    width:1080px;
    height:auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}
    