/* imports */
@import url('./css/header.css');
@import url('./css/mainComp.css');
@import url('./css/footer.css');
@import url('./css/verticalLine.css');
/* @import url('./css/breakTimeBlock.css'); */
@import url('./css/reportBlock.css');

:root{
    --whiteColor:#FFF;
    --blue:#214B77;
    --grey:#5E5E5E;
    --greyBackground:#C1C1C1;
    --green:#A6D447;
}

@keyframes appearing{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/* assets */
@font-face {
    font-family: 'Inter-Regular';
    src: url('../assets/fonts/Inter-Regular.woff2') format('woff2');
}
@font-face {
    font-family: 'Inter-Medium';
    src: url('../assets/fonts/Inter-Medium.woff2') format('woff2');
}
@font-face {
    font-family: 'Inter-Bold';
    src: local('Inter-Bold'), url('../assets/fonts/Inter-Bold.woff2') format('woff2');
}

/* globalSettings */
*{
    padding:0;
    margin:0;
}

html{
    width:100%;
    height:100%;
}

body{
    width:100%;
    height:100%;
}


#app{
    width:100%;
    height: 100%;
    min-height:1920px;
    display:flex;
    justify-content: center;
    align-items:center;
}
#app .observerComponent{
    position: relative;
    width:1080;
    height:100%;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
}









